/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
!/vendor/laravel/framework/src/Illuminate/Auth/AuthenticationException.php
!/vendor/laravel/framework/src/Illuminate/Routing/Router.php
/_ide_helper.php
!/vendor/willvincent/
!/vendor/laravel/framework/src/Illuminate/Foundation/Exceptions/Handler.php
